In [29]:
class LR:
    
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self,X_train,y_train):
        
        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):
            
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)       
    
    def predict(self,X_test):
        
        print(X_test)
        
        return self.m * X_test + self.b

In [3]:
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv("placement.csv")

In [23]:
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1
3  6.42                   8.0       1
4  7.23                  17.0       0

In [24]:
df=df.iloc[:,:2]

In [25]:
df.head()

   cgpa  placement_exam_marks
0  7.19                  26.0
1  7.46                  38.0
2  7.54                  40.0
3  6.42                   8.0
4  7.23                  17.0

In [26]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [28]:
X_train.shape

(800,)

In [31]:
lr = LR()

In [32]:
lr.fit(X_train,y_train)

-0.26502454516087415
33.97578341892782

In [33]:
lr.predict(X_test)

[8.51 7.93 6.99 6.02 6.85 7.57 6.34 6.29 6.4  6.23 5.69 8.   7.75 6.54
 7.51 6.36 6.52 6.5  6.5  6.13 6.62 8.04 6.4  7.52 6.75 6.42 6.25 6.67
 7.46 6.65 6.19 6.15 6.99 7.02 6.71 6.75 6.69 7.13 6.75 7.38 6.81 8.12
 6.1  7.46 6.6  5.7  8.48 7.22 6.24 6.78 7.1  6.84 6.66 6.68 6.56 6.89
 7.48 6.33 6.29 8.04 6.87 7.37 6.48 7.52 7.3  6.58 6.51 7.37 7.45 6.77
 8.49 7.07 6.46 6.06 7.7  6.41 7.06 7.19 7.12 7.85 7.   7.77 6.91 6.92
 8.14 6.32 7.56 7.02 7.43 6.27 6.4  6.62 6.46 6.79 6.82 5.74 7.41 7.72
 7.48 7.53 6.93 6.12 7.52 7.28 6.47 6.22 6.67 7.26 6.71 7.24 7.26 7.27
 7.12 7.48 7.9  6.31 7.32 6.7  6.05 6.89 6.04 7.65 6.42 7.23 6.   6.23
 7.19 8.27 6.97 6.46 5.27 5.99 6.14 5.51 7.6  6.56 7.19 6.3  5.56 7.07
 7.33 6.71 6.98 7.31 7.02 7.55 6.92 7.61 6.44 7.2  8.05 6.89 7.55 5.56
 7.3  7.37 7.46 6.16 6.79 7.67 6.74 5.65 6.8  7.12 6.99 6.88 7.66 7.4
 6.91 6.42 6.12 7.28 6.49 6.87 6.28 7.46 6.11 7.23 7.36 6.42 8.04 7.64
 7.77 7.1  7.24 6.76 6.1  5.86 6.39 6.19 5.81 5.94 6.85 7.1  7.55 6.44
 7.14 6.94 7.09 6.39]

array([31.72042454, 31.87413878, 32.12326185, 32.38033566, 32.16036528,
       31.96954761, 32.2955278 , 32.30877903, 32.27962633, 32.3246805 ,
       32.46779376, 31.85558706, 31.92184319, 32.24252289, 31.98544908,
       32.29022731, 32.24782338, 32.25312388, 32.25312388, 32.35118296,
       32.22132093, 31.84498608, 32.27962633, 31.98279884, 32.18686774,
       32.27432584, 32.31938001, 32.2080697 , 31.99870031, 32.21337019,
       32.33528148, 32.34588247, 32.12326185, 32.11531111, 32.19746872,
       32.18686774, 32.20276921, 32.08615841, 32.18686774, 32.01990228,
       32.17096627, 31.82378411, 32.35913369, 31.99870031, 32.22662142,
       32.46514351, 31.72837528, 32.0623062 , 32.32203026, 32.178917  ,
       32.09410915, 32.16301553, 32.21071995, 32.20541946, 32.2372224 ,
       32.1497643 , 31.99339982, 32.29817805, 32.30877903, 31.84498608,
       32.15506479, 32.02255252, 32.25842437, 31.98279884, 32.04110424,
       32.23192191, 32.25047363, 32.02255252, 32.00135056, 32.18156725,
       31.72572503, 32.10205988, 32.26372486, 32.36973468, 31.93509442,
       32.27697608, 32.10471013, 32.07025694, 32.08880866, 31.89534074,
       32.1206116 , 31.9165427 , 32.14446381, 32.14181357, 31.81848362,
       32.30082829, 31.97219786, 32.11531111, 32.00665105, 32.31407952,
       32.27962633, 32.22132093, 32.26372486, 32.17626676, 32.16831602,
       32.45454253, 32.01195154, 31.92979393, 31.99339982, 31.98014859,
       32.13916332, 32.3538332 , 31.98279884, 32.04640473, 32.26107461,
       32.32733075, 32.2080697 , 32.05170522, 32.19746872, 32.05700571,
       32.05170522, 32.04905498, 32.08880866, 31.99339982, 31.88208951,
       32.30347854, 32.03580375, 32.20011897, 32.37238492, 32.1497643 ,
       32.37503517, 31.94834565, 32.27432584, 32.05965596, 32.38563615,
       32.3246805 , 32.07025694, 31.78403043, 32.12856234, 32.26372486,
       32.57910407, 32.38828639, 32.34853271, 32.51549818, 31.96159688,
       32.2372224 , 32.07025694, 32.30612878, 32.50224695, 32.10205988,
       32.0331535 , 32.19746872, 32.12591209, 32.03845399, 32.11531111,
       31.9748481 , 32.14181357, 31.95894663, 32.26902535, 32.06760669,
       31.84233583, 32.1497643 , 31.9748481 , 32.50224695, 32.04110424,
       32.02255252, 31.99870031, 32.34323222, 32.17626676, 31.94304516,
       32.18951798, 32.47839474, 32.17361651, 32.08880866, 32.12326185,
       32.15241455, 31.9456954 , 32.01460178, 32.14446381, 32.27432584,
       32.3538332 , 32.04640473, 32.25577412, 32.15506479, 32.31142928,
       31.99870031, 32.35648345, 32.05965596, 32.02520277, 32.27432584,
       31.84498608, 31.95099589, 31.9165427 , 32.09410915, 32.05700571,
       32.18421749, 32.35913369, 32.42273958, 32.28227658, 32.33528148,
       32.43599081, 32.40153762, 32.16036528, 32.09410915, 31.9748481 ,
       32.26902535, 32.08350817, 32.13651308, 32.09675939, 32.28227658])

In [34]:
X_train[0]

7.57

In [35]:
X_train.mean()

6.978725

In [36]:
print(lr.predict(X_test[0]))

8.51
31.72042453960878